<% provide(:title, "Sign in") %>
<%= image_tag("login.png", id: "register",  alt: "register") %>

<div class="row">
  <div class="span6">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :u_email, "Email" %>
      <%= f.text_field :u_email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  	
</div>