<% provide(:title, 'Sign up') %>


  <%= image_tag("register.png", id: "register",  alt: "register") %>

         

<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :u_name, "Name" %>
      <%= f.text_field :u_name %>

      <%= f.label :u_email, "Email" %>
      <%= f.text_field :u_email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :u_phone, "Contact number" %>
      <%= f.text_field :u_phone %>

      <%= f.submit "Create my profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span5">
  <h2>
    Coming soon to the app store!
  </h2>
  <%=  image_tag("3iphones.png", alt: "LookBookEat App")%>
  <%=  image_tag("custom_app_store.jpg", :class => "app-store-img", :size => "172x66", alt: "App Store") %>
</div>
</div>