<% provide(:title, 'Search Results') %>

<div class="general-page-container">
<div class="span7">
  <%= image_tag("find_res_text.png", :size => "402x98", alt: "Find a restaurant", id:"find-res-text")%>
<div class="results-list">
    
  <% if @results.blank? %>
  Sorry no results match your query, please refine your search.
  <% else %>  
  <ul>
        <% for restaurant in @results %>
        <li>
        <%= link_to restaurant.name, restaurant %>   -   <%= restaurant.address %>
    </li>

    <% end %>
</ul>
<% end %>
</div>


  <h2>
    Find your favourite foods at any time!
  </h2>
</div> 
<div class="span5">
  <h2>
    Coming soon to the app store!
  </h2>
  <%= image_tag("3iphones.png", alt: "LookBookEat App") %>
  <%=  image_tag("custom_app_store.jpg", :class => "app-store-img", :size => "172x66", alt: "App Store")%>
</div>
</div>
