<% provide(:title, @restaurant.name) %>
<div class="general-page-container">
<div class="span7">
      <div class="profile-title">
        <%= @restaurant.name %>'s Menus
      </div>
      <div id="menu-listing">
      <ul>
            <% for menu in @menus %>
            <li>
            <%= link_to menu.menu_type, menu_path(@restaurant, :menu_id => menu)%>
        </li>
        <br>
        <% end %>
    </ul>
</div>
   </div>
   <div class="span5">
    <ul>
      <li><%= link_to image_tag("profile.png", :class => "menu",  alt: "Profile"), restaurant_path %>
       </li>
   <li><%= link_to image_tag("menus.png", :class => "menu",  alt: "Menus"), menu_restaurant_path %>
   </li>
   <li><%= link_to image_tag("find_on_map.png", :class => "menu", alt: "Find On Map"), map_restaurant_path %>
   </li>
   <li><%= link_to image_tag("comment.png", :class => "menu", alt: "Comment"), comments_restaurant_path %>
   </li>
   
  </ul>
    <%= image_tag("custom_app_store.jpg", :class => "app-store-img", :size => "172x66", alt: "App Store") %>
   </div>
</div> 