<% provide(:title, @restaurant.name) %>
<div class="general-page-container">
<div class="span7">
      <div class="profile-title">
        <%= @restaurant.name %>
      </div>
      <div class="restaurant-details">

      <div class="restaurant-pic">
        
        <%= image_tag("#{@restaurant.picture}", :size => "150x150", alt: "Find and book tables in your area!")%>
        
      </div>
      <div class="restaurant-info">
      <h4>
        <%= @restaurant.address %><br>
        <br>
      <%= @restaurant.food_type %>  <br>
      <br>
      Price Range - <%= @restaurant.price_range %></br>
      <br>
      Phone - <%= @restaurant.phone_no %><br><br> Email - <%= @restaurant.email %><br>
      
      <br>
      </br>
    </h4>
    </div>
</div>
<div id="diet-rating">
      <div class="dietary-images">

        <% if @restaurant.veg_friendly == 1 %>
          <%= image_tag("veggie.png", :size => "30x30", id:"vegetarian", alt: "vegetarian friendly")%>
        <% end %> 
        <% if @restaurant.coeliac_friendly == 1 %>
         <%= image_tag("coeliac_friendly.png", :size => "33x33", id:"coeliac", alt: "coeliac friendly")%>
         <% end %> 
         <% if @restaurant.vegan_friendly == 1 %>
         <%= image_tag("vegan.png", :size => "30x30", id:"vegan", alt: "vegan friendly")%>
         <% end %> 
     </div>
     <div id="rating">    
      <%= image_tag("#{@restaurant.rating}Stars.png", id:"rating-pic", alt: "Find and book tables in your area!")%>
    </div>
    </div>
<div class="restaurant-desc">
      
      
      <%= @restaurant.description %><br>
    </div>

   </div>
   <div class="span5">
    <ul>
      <li><%= link_to image_tag("profile.png", :class => "menu",  alt: "Profile"), restaurant_path %>
       </li>
   <li><%= link_to image_tag("menus.png", :class => "menu",  alt: "Menus"), menu_restaurant_path %>
   </li>
   <li><%= link_to image_tag("find_on_map.png", :class => "menu", alt: "Find On Map"), map_restaurant_path %>
   </li>
   <li><%= link_to image_tag("comment.png", :class => "menu", alt: "Comment"), comments_restaurant_path %>
   </li>
   
  </ul>
    <%= image_tag("custom_app_store.jpg", :class => "app-store-img", :size => "172x66", alt: "App Store") %>
   </div>
</div> 